DICareerGoal/xsd/XsdSchemaForValidation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/AleksandrSimonov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="contacts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="contact">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="fio">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element minOccurs="0" name="name" type="xsd:string" />
                    <xsd:element minOccurs="0" name="first-name" type="xsd:string" />
                    <xsd:element minOccurs="0" name="last-name" type="xsd:string" />
                  </xsd:all>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="gender">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="male"/>
                    <xsd:enumeration value="female"/>
                    <xsd:enumeration value="other"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="phoneNumber">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\+\d{1} \(\d{3}\) \d{3}-\d{2}-\d{2}"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="telegram" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute name="isBlocked"  use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:boolean">
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
</xsd:schema>